<%= link_to 'New Post', new_post_path %>
<% @post.each do |post| %>
<h2 class="title"><%= link_to post.title, post %></h2>
<p class="date">
  <%= post.created_at.strftime("%B, %d, %Y") %>
</p>
<p class="show-edit">
  <%= link_to 'Show', post_path(post) %>
  <%= link_to 'Edit', edit_post_path(post) %>
</p>
<% end %>
